<table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0" style="width:570px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-premailer-width:570px;-premailer-cellpadding:0;-premailer-cellspacing:0;background-color:#FFFFFF;" >
  <!-- Body content -->
  <tr>
    <td class="content-cell" style="word-break:break-word;padding-top:35px;padding-bottom:35px;padding-right:35px;padding-left:35px;" >
      <h1 style="margin-top:0;color:#74787E;font-size:19px;font-weight:bold;text-align:left;" >Hi <%= @user.first_name %>,
      </h1>
      <p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;">You recently requested to reset your password for your Sustainabli account. Follow the link to be automatically logged into you portal.
      </p>
      <!-- Action -->
      <p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;" ><a href="<%= reset_password_url(@user.uuid) %>">Log me in</a>
      </p>
      <p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;" >This will log you in automatically. If you would like to customize and change your password, you can do so from your profile page once you're logged in.
      </p>
      <p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;" >If you did not request a password reset, please <a href="mailto:help@sustainabli.co" style="color:#3869D4;" >contact us</a>.
      </p>
      <p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;" >Cheers,
        <br>The Sustainabli Team</p>
      <!-- Sub copy -->
    </td>
  </tr>
</table>