<style media="screen">
  #faq h3 a {
    color: #454545;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: left;
  }
</style>
<div id="faq">

  <div class="left">

    <h3>Frequently Asked Questions</h3>

    <h4>Survey</h4>

    <a href="#aboutthesurvey">About the Survey</a>
    <a href="#household">Household</a>
    <a href="#food">Food</a>
    <a href="#electricity">Electricity</a>
    <a href="#housingfuels">Other Fuels</a>
    <a href="#waste">Waste</a>
    <a href="#transportation">Transportation</a>
    <a href="#totals">Totals</a>

    <h4>Reports</h4>

    <a href="#generalreports">General</a>
    <a href="#historicaldata">Historical Data</a>
    <a href="#offsets">Offsets</a>
    <a href="#methodology">Methodology</a>
    <br>
    <br>

    <p id="aboutthesurvey">

      <b>What if I started the survey and need to finish later?</b>
      <p>
        If you’ve entered data and saved your responses, you can leave and come back to pick up right where you left off.
      </p>
      <b>How should I manage my login information?</b>
      <p>
        Each survey participant has a unique password protected account. Note: while this login username is your business e-mail, this account is not integrated with your other business accounts and passwords. <a href="https://intercom.help/sustainabilitybenefits/sustainability-benefits/reset-your-password"
          target=_blank>This article</a> provides more infooramtion on how to set/update Sustainabli your password.
      </p>
      <b id="confidential">Some of this is a little personal, what’s my employer going to do with my data?</b>
      <p>All information on this Website is for the benefit of individual employees and to provide aggregate data to your employer to measure its Greenhouse Gas Emissions. Employee-specific data transmitted to and from this Website shall be held in strict
        confidence by Sustainability Benefits Corporation (SBC) and encrypted for the user’s protection. Any information gained by SBC through this Website shall be used for statistical, administrative and research purposes only including assessment of
        available tax and incentive rebate programs. SBC shall not share or disclose employee-specific information to your employer or a third party unless authorized by the user or obligated by law.</p>
      <b>What will Sustainability Benefits Corporation/my employer do with the aggregate data from this survey?</b>
      <p> Your employer is interested in promoting environmental sustainability – at work and in your homes and communities. The aggregated data from this survey will support analysis and recommendations for the best ways to promote sustainability investments,
        and identification of resources that can help.

        <h4 id="household">Household</h4>
        <b>
  I live in the same household as another employee. Should we both complete the survey?
  </b>
        <p>
          Yes! We recognize you and your housemates will have identical values for some areas, such as household fuel and electricity consumption. However, some of the aspects of your surveys may have different results. For example, you may have different commuting
          patterns. In the future we will be looking for ways to make it easier for shared households to complete the survey. In the meantime, the hope is to have a higher interaction with these questions from each person in the household and to generate
          a more accurate personal report for each person.</p>
        <b>
  I lived with roommates in the past year. Should I count them in the total number of people living in my household?
  </b>
        <p>
          It’s up to you. Are they long term and do you consider them part of your household? If you know them well-enough that you can answer the food and transportation questions, it’s probably a good idea. If not, then don’t!
        </p>
        <b>I lived with a different number of people throughout the year, how should I account for this change?</b>
        <p>
          Use an average. For example, if you or your partner adopted a child halfway through the year, then your average household size would be 2.5 (two people for the full year, plus 1 person for half a year).
        </p>
        <b>
How should I enter my portion of fuel and electricity consumption in the survey if I have roommates?
</b>
        <p>
          Easy! If you are claiming your household size to be only yourself or 1 for reasons mentioned above, enter the utilities you are responsible for. For example, if you split the utilities evenly between you and your roommates, this is the portion of the
          total consumption you can enter in the survey. If it's not split evenly - find new roommates!
        </p>
        <b>I moved in the past year. How should I enter this in the survey?</b>
        <p>
          We hope you like your new abode! We'd like you to enter your home energy usage from both of your households. This should include your electricity and fuel usage from your old and new household.
        </p>
        <b>I own an investment property, should I report this property in my carbon survey?</b>
        <p>
          We don't include rental properties in the household footprint calculator. There is one exception: if you also live in the property for part of the year, and use it as a rental when you are away. You would then report usage from that property but reduced
          to reflect only the time you are living there. For example, if you live there for three months of the year, include 25% of the usage.
        </p>

        <h4 id="food">Food</h4>

        <b id="food">My household eats a certain type of food (e.g. meat we hunt, fish we catch) that isn’t accounted for on this survey. Will this cause me to have a higher/lower footprint?</b>
        <p>
          The survey relies on generalized estimates of food-related emissions so that it can provide useful measurements without a burdensome amount of complexity. We ask that you do try to estimate the best answer in the face of food’s variability. In general,
          eating plant based proteins is associated with a lower level of greenhouse gas emissions than eating animal based proteins. In addition, eating meat such as chicken as opposed to beef is associated with a lower carbon footprint. Lastly, eating
          legally, locally harvested game is not only good for connecting with the local ecosystem, but also avoids some of the harmful meat production processes and shipping that can give conventionally farmed meat a higher carbon impact. If a significant
          portion of your protein is locally hunted/fished, you can reduce accordingly the frequency of meat consumption in the survey.
        </p>

        <b>I own more than one home. How should I handle this?</b>
        <p>
          Please provide a total value for your total electricity (and other fuels) for both your homes. However, if you are a landlord or if the second home is primarily rented to others, don’t include it.
        </p>
        <h4 id="electricity">Electricity</h4>
        <b id="renewables">I do not specifically own or purchase any renewable electricity, but my utility produces a renewable mix. Should I enter this percentage in the renewable category?</b>
        <p>
          No, this section should be reserved only for those who choose to pay a premium to their utility for “green” power (e.g. wind energy, cow power), who have a renewable system on-site or participate in a community renewable type of arrangement (e.g. community
          solar).
        </p>
        <b>I sell the Renewable Energy Credits (RECs) for my renewably generated electricity. Should I still enter the percentage in the survey?</b>
        <p>
          No, this would be double counting the renewable energy, because the entity purchasing your RECs will also be claiming it as renewable energy. We assign an annually updated regional emissions factor to the electricity produced in your region. The RECs
          a utility purchases and renewable energy it generates are included in this emissions factor. Including the renewable power generated after the sale of the RECs would be double counting this renewable energy. Therefore, it should not be included
          as a renewable source on this survey. Read more by visiting the <a href="http://www3.epa.gov/greenpower/gpmarket/rec.htm" target=_blank>Environmental Protection Agency (EPA)</a>.
        </p>
        <b>How do I know if my Renewable Energy Credits (RECs) are being sold?</b>
        <p>
          We understand this is difficult! To find the answer to this question, you may need to reach out to your renewable energy provider. For example, if your household signed up for a solar lease through a local solar company, you may need to reach out directly
          to them. Read more by visiting the <a href="http://www3.epa.gov/greenpower/gpmarket/rec.htm" target=_blank>Environmental Protection Agency (EPA)</a>.
        </p>
        <h4 id="housingfuels">Housing Fuels</h4>
        <b id="rented_home">I rent my home and my heat is included in my rent. What should I do?</b>
        <p>
          If you know the type of heat or other fuel your household uses, you may select this fuel and then indicate that you do not know the specific amount. If you are unsure of the heat type or other fuels your household uses, you may select unsure and we will
          assign your household an average value.
        </p>
        <b>My fuel deliveries do not match up with when I used the fuel. What should I do?</b>
        <p>
          Determining exactly how much heating oil, propane, or wood your household used in the past year can be challenging, as fuel deliveries typically tend not to coincide with the calendar year. Please assume that any fuel delivered in the last year was used
          last year.
        </p>
        <b id="cordwood">
  How much wood is in a cord?
  </b>
        <p>
          According to the National Institute of Standards and Technology, a cord is defined as "the amount of wood that is contained in a space of 128 cubic feet when the wood is ranked and well stowed." This equates to dimensions of 4 feet by 4 feet by 8 feet.
        </p>
        <b>I use kerosene in my home, but this option was not listed. What should I do?</b>
        <p>
          Enter the gallons of kerosene purchased in the heating oil box. The emissions factor for kerosene and heating oil are very similar.
        </p>

        <h4 id="transportation">Transportation</h4>

        <b id="vacation_time">Should I include vacation time when estimating the amount of weeks I worked within the year?</b>
        <p>
          Please only include the number of weeks worked. For example, if you took 4 weeks of vacation in 2014, you would enter a total of 48 weeks worked.
        </p>

        <b>I have an irregular carpooling pattern, how should I enter the average amount of people in my vehicle?</b>
        <p>
          This value should be an average of all your commuting in 2015. Therefore, if you carpooled with someone half of the year, the total number of people in your car would be 1.5. Similarly, if you usually carpool with another person for ten miles, but then
          alone for ten more miles, then the average would be 1.5.
        </p>
        <b id="telecommute">
I am a remote employee and mostly telecommute to work, how should I enter my commuting information?
</b>
        <p>
          Be sure to enter the percent of the time you telecommute and travel to work with no carbon emissions. Next, enter the percentage you travel to work using public transportation or a personal vehicle. When you are asked to enter information about your commuting
          vehicle and type of public transportation, go ahead and enter the appropriate details for distance, carpool size and vehicle efficiency. We will use this information to calculate your commuting carbon footprint based on the percent of time you
          actually travelled to work and exclude the time when you telecommuted.
        </p>
        <b>Should I include the commuting behavior of other members in my household?</b>
        <p>
          Please only include your commuting behavior when answering these questions. Sustainability Benefits Corporation is mainly interested in measuring the commuting habits of its employees.
        </p>
        <b id="non_communiting_vehicle">Should I include miles from commuting in the non-commuting vehicle section?</b>
        <p>
          Yes - include commuting miles in this section. We will subtract out the commuting miles to avoid double counting.
        </p>

        <b id="commutedistance">I drove directly to a project site instead of to an office. How should I account for this?</b>
        <p>
          Give your best estimate of the average distance you drive to get to work. For example, if you drive to a project site 10% of the time and it is 10 miles away and you drive to the office 90% of the time and it is 20 miles away, the average distance would
          be (0.1 X 10 + 0.9 X 20 = 19 miles).
        </p>

        <b id="electric_car">I drive an electric car. What should I put in the average miles per gallon field?</b>
        <p>
          Good for you! Please enter the “miles per gallon equivalent (mpge)” for your electric vehicle. These equivalents may be found using <a href="https://www.fueleconomy.gov/feg/Find.do?action=sbsSelect" target=_blank>fueleconomy.gov</a>.
        </p>
        <b id="plugin hybrid">I drive a plugin hybrid. What should I put in the average miles per gallon field?</b>
        <p>
          Enter your average miles per gallon, if you know it offhand. If not, you may use <a href="https://www.fueleconomy.gov/feg/Find.do?action=sbsSelect" target=_blank>fueleconomy.gov</a> to find your vehicle’s information. If you needed to look up
          your car, please use the regular gasoline value from the website.
        </p>
        <b>I sold a vehicle and bought a new vehicle in the past year, how should I enter this in the survey?</b>
        <p>
          Enter each vehicle as a separate automobile and rename them as you see fit. Please give your best estimate of the mileage for each vehicle.
        </p>

        <b id="carshare">I used a car share service last year, how should I enter this in the survey?</b>
        <p>
          Enter this as a separate vehicle. You may want to name it something such as “Car Share” as a reminder when you take the survey next year. In terms of entering a miles per gallon value, you may determine an average value based on the typical vehicle used
          by using <a href="https://www.fueleconomy.gov/feg/Find.do?action=sbsSelect" target=_blank>fueleconomy.gov</a>.
        </p>

        <b>I rented a vehicle last year, how should I include this in the survey?</b>
        <p>
          Enter this as a separate vehicle and estimate the mpg and miles traveled in this vehicle. If you remember the type of vehicle, you may use <a href="https://www.fueleconomy.gov/feg/Find.do?action=sbsSelect" target=_blank>fueleconomy.gov</a> to
          search for the mpg value. You may want to rename this something such as “Rental Vehicle” as a reminder when you take the survey next year.
        </p>

        <h4 id="totals">Totals</h4>
        <b id="offsets">My household purchases greenhouse gas offsets. Is this the best thing I can do to reduce my carbon footprint?</b>
        <p>
          Carbon offsets are similar to the approach of zero energy buildings: for zero energy infrastructure, it is best to first strive toward maximizing energy efficiency and then to focus on renewables. In addition, offsets must meet a rigorous criteria by
          being real, permanent, additional, verifiable and enforceable. Therefore, we are curious about purchased offsets, but place a lower priority on these types of purchases. To read more about offsets, please visit the <a href="http://www.wri.org/sites/default/files/pdf/bottom_line_offsets.pdf"
            target=_blank>World Resources Institute</a>.
        </p>
        <h3 id="reports">Reports</h3>
        <h4 id="generalreports">General</h4>
        <b>What does my ranking within a certain percentile mean?</b>
        <p>
          Think of this as similar to a “carbon grade” if you were being graded on a curve, where employees at your company who took the survey are your class (tough competition!). A 100 in each category would mean that there are no employees who have a lower carbon
          value than you. Conversely, if you scored in the 0 percentile, it would mean that all employees have a higher carbon value than you. A score of 50 is exactly in the middle, or average.
        </p>

        <b>What does it mean when I switch between “household” and “per capita?”</b>
        <p>
          The household carbon numbers are values for your entire household. This uses the number of people you indicated you live with in the survey. The per capita values are the carbon values per person living in your household.
        </p>

        <h4 id="offsets">Offsets</h4>
        <b>Are my carbon offset purchases reflected in the values on my report?</b>
        <p>
          Offsets must meet the criteria of being real, permanent, additional, verifiable and enforceable. Therefore, we prioritize reducing the size of our footprints over purchasing offsets. For this reason, we give values in our charts that do not include purchased
          offsets. This gives each user an opportunity to see their full carbon footprint and consider opportunities to reduce it directly before purchasing offsets. To read more about offsets, we recommend visiting the <a href="http://www.wri.org/sites/default/files/pdf/bottom_line_offsets.pdf"
            target=_blank>World Resources Institute</a>.
        </p>

  </div>