<%= render 'subheader' %>

<table>
  <thead>
    <th>ID</th>
    <th>Organization</th>
    <th colspan="2">Contact</th>
    <th>Employees</th>
    <th>Claims</th>
    <th>Surveys</th>
    <th></th>
  </thead>
  <%= render Organization.all %>

</table>
