<%= render 'organizations/benefit_programs/subheader', _benefit_program: (_benefit_category.primary_benefit_program) %>

<%= form_for [_organization, _organization.benefit_categories.find(params[:id])] do |f| %>
  <% [:name, :focus_area, :product_type,
    :percent_to_reimburse, :description,
    :focus_area_description, :product_type_description,
    :eligibility_description,
    :description_of_exclusions,
    :benefit_category_image_url,
    :category_notes].each do |field| %>
    <div class="">
      <%= f.label field %>
      <%= f.text_field field %>
    </div>
  <% end %>


  <div class="">
    <button>
      Update
    </button>
  </div>
<% end %>

<script type="text/javascript">
  $('.datepicker').datepicker();
</script>
