<%= _organization.benefit_footer.to_s.html_safe %>

<div class="global-footer">
  <div class="row">
    <div class="col-2">
      &nbsp;
    </div>
    <div class="col-3">
      &nbsp;
      &nbsp;
      &nbsp;
      <%= image_tag "Sustain6LogoCMYK.png" %>
    </div>
    <div class="col left">
      <div class="contact">
         Have Questions? E-mail our <a href="mailto:help@sustbenefits.com">Support Team</a> for assistance
      </div>

      <div class="copyright">
        &copy; 2020-2021 Sustain 6
      </div>
    </div>
  </div>
</div>
